/***** HEADER *****/
 @media (max-width: 1040px) {
     header {
         padding: 12px 20px;
     }

     header.sticky {
         padding: 10px 20px;
     }

     header .navigation {
         display: none;
     }

     header .navigation.active {
         z-index: 888;
         position: fixed;
         background: rgb(131, 53, 92);
         top: 0;
         right: 0;
         width: 380px;
         height: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         box-shadow: 0 5px 25px rgba(1 1 1  / 15%);
         transition: 0.3 ease;
     }

     header .navigation a {
         color: #000;
         font-size: 1.2em;
         margin: 10px;
         padding: 0 20px;
         border-radius: 20px;
     }

     header .navigation a:hover {
         background: #3a6cf4;
         color: #fff;
         transition: 0.3s ease;
     }


     .menu-btn {
         position: absolute;
         background: url(img/menu.png)no-repeat;
         background-size: 30px;
         background-position: center;
         width: 40px;
         height: 40px;
         right: 0;
         margin: 0 20px;
         cursor: pointer;
         transition: 0.3s ease;
     }

     .menu-btn.active {
         z-index: 999;
         background: url(img/close.png)no-repeat;
         background-size: 25px;
         background-position: center;
         transition: 0.3s ease;
         filter: invert(1);
     }
 }