@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;1,200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}



#preloader {
    background: #000 url(img/circle-loader-gif-2.gif) no-repeat center;
    background-size: 15%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}


/**** SCROLL BAR ****/


::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-track {
    background-color: #262626;
    box-shadow: -5px -5px 10px #0d0d0d inset,
                 5px 5px 10px #333 inset;

    background: linear-gradient(#5a165a, #6d2161);
}


::-webkit-scrollbar-thumb {
    border-radius:50px;
    background-color: #837878;
    border-radius: 50px;
     box-shadow: -5px -5px 10px #5c5454 inset,
                 5px 5px 10px rgb(197, 196, 196) inset;
}

::-webkit-scrollbar-thumb:hover {
    border-radius:50px;
    background-color: #ffffff;
    border-radius: 50px;
     box-shadow: -5px -5px 10px #5c5454 inset,
                 5px 5px 10px rgb(197, 196, 196) inset;
}

section {
    padding: 100px 200px;
}


/***** MAIN *****/

.main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(img/3r.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main .content {
    max-width: 800px;
}

.main .content h2 {
    color: #262626;
    font-size: 2em;
    font-weight: 500;
}

.main .content h2 span {
    font-size: 2.8em;
    font-weight: 600;
}

.animated-text {
    position: relative;
    height: 70px;
    overflow: hidden;
}

.animated-text h3 {
    color: #6d2161;
    font-size: 3em;
    font-size: 700;
    line-height: 70px;
    letter-spacing: 1px;
}

.animated-text h3:nth-child(1) {
    animation: text-move 10s infinite;
}


@keyframes text-move {
    0% {
        margin-top: 0;
    }
    25% {
        margin-top: -70px;
    }
    50% {
        margin-top: -140px;
    }
    75% {
        margin-top: -70px;
    }
    100% {
        margin-top: 0;
    }
}


.btn {
    color: rgb(255, 255, 255);
    font-size: 1em;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 2px;
    margin-top: 30px;
    transition: 0.5s ease;


    background: #e2ebe2ed;
    padding: 15px 20px;
    border-radius: 8px;
    
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
               -6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid rgba(0,0,0,0.0);
    cursor: pointer;
}

.btn:hover {
     
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2), 
                inset -4px -4px 6px -1px rgba(255,255,255,0.7), 
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.01);
    /* transform: translateY(2px); */
}













/***** HEADER *****/
header {
    z-index: 999;
    position: fixed;
    background: #262626;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5x ease;
    text-transform: uppercase;
    font-weight: normal;
    box-shadow: -5px -5px 10px #0d0d0d inset,
                 5px 5px 10px #333 inset;

    
}


/* JS for navigation bar */
/* header.sticky {
    background: #32498a;
    padding: 10px 200px;
} */


header .brand img {
    /* color: rgb(253, 249, 249);
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none; */

    height: 21px;
    align-items: center;
    
}






header .navigation {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;


    right: 133px;
    height: 42px;
    width: 47%;
                                                                                                                                                                                                                                                                
    background-color: #262626;
    border-radius: 50px;
    box-shadow: 5px 5px 5px #0d0d0d inset,
                -5px -5px 5px #333 inset;
}


header .navigation a {
    color: rgb(255, 246, 246);
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    margin-left: 30px;


    position: relative;
    float: left;
    margin: 2px;
    height: 40px;
    width: 110px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-family: arial;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.2s;

    /* box-shadow: 5px 5px 10px #0d0d0d inset,
                -5px -5px 10px #333 inset;

    box-shadow: -5px -5px 10px #0d0d0d inset,
                 5px 5px 10px #333 inset; */


    
}

header .navigation a:hover {

    background-color: #3f133f;
    box-shadow: -5px -5px 10px #6d276d inset,
                 5px 5px 10px rgb(136, 26, 121) inset;
}

/* JS for navigation bar */
header.sticky .navigation a:hover {
    background-color: #3f133f;
    box-shadow: -5px -5px 10px #6d276d inset,
                 5px 5px 10px rgb(136, 26, 121) inset;
                
}

body {
    min-height: 110vh;
}



@keyframes up {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.nav-item:nth-child(odd) {
    animation: up 1s forwards;
}

.nav-item:nth-child(even) {
    animation: down 1s forwards;
}


@keyframes down {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}












/***** ABOUT *****/

.about {
    background: linear-gradient(180deg, #424240, #fdfffd);
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.section-title {
    position: relative;
    color: #2626;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 60px;
    text-transform: uppercase;
    transition: 0.5s ease;
}


.section-title:hover {
    
    transform: scale(1.1);
}





.about .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.about .content .col-left {
    position: relative;
    width: 45%;
}

.about .content .col-right {
    position: relative;
    width: 50%;
}

.about .content .col-left .img-card {
    position: relative;
    width: 100%;
    min-height: 450px;
}

.about .content .col-left .img-card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.about .content .col-right .content-title {
    font-size: 1.8em;
    font-weight: 800;
    margin-bottom: 20px;
}

.about .content .col-right .paragraph-text {
    font-size: 1em;
    color: rgb(255, 255, 255);
    line-height: 25px;
    background: linear-gradient(#1976d3, #55cf1c);
    border-radius: 20px;
    padding: 20px;
    margin: 2px;
    text-align: justify;
}




/***** SKILLS *****/

.skills {
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    background: url(img/piqsels.com-id-frhgm.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 65px;
   

    
}

.skills .title h2 {
    margin-top: 50px;
    margin-bottom: 0;
}


.container-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.container-skills .flip-card {
    margin: 30px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    
  }
  
  .container-skills .flip-card-front,
  .container-skills .flip-card-back {
    width: 300px;
    min-height: 350px;
    height: auto;
    background-color: #3a2f2f;
    /* background-image: url("https://images.wallpaperscraft.com/image/single/cherry_ripe_wet_130316_800x600.jpg"); */
    background-size: cover;
    background-position: center;
    text-align: center;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    border-radius: 25px;
  }


  .container-skills .flip-card:nth-of-type(1) .flip-card-front {
    background-image: url(img/rl74683052_vintage_black_and_grey_background_mf.jpg);
    
  }

  .container-skills .flip-card:nth-of-type(1) .flip-card-back {
    background-image: url(img/kisspng-black-and-white-structure-pattern-ray-png-hd-5a77bc028c8536.2997712215177963545756.png);
  }
  
  
  .container-skills .flip-card:nth-of-type(2) .flip-card-front {
    background-image: url(img/grey-dark-vintage-background-texture-299176_1080x675.jpg);
  }

  .container-skills .flip-card:nth-of-type(2) .flip-card-back {
    background-image: url(img/kisspng-white-symmetry-structure-triangle-pattern-technology-sense-of-large-data-age-5aa325e715ec22.6901210215206415110898.png);
  }

  
  .container-skills .flip-card:nth-of-type(3) .flip-card-front {
    background-image: url(img/107967-darkness-wood-atmosphere-web_design-web_page-1280x720.jpg);
  }

  .container-skills .flip-card:nth-of-type(3) .flip-card-back {
    background-image: url(img/texture1.jpg);
  }

  
  .container-skills .flip-card-front {
    transform: rotateY(0deg);
  }
  
  .container-skills .flip-card-back {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
  }
  
  .container-skills .flip-card-front::after,
  .container-skills .flip-card-back::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    border-radius: 15px;
  }
  
  .container-skills .flip-card-front .inner,
  .container-skills .flip-card-back .inner {
    width: 100%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    z-index: 2;
  }
  
  .container-skills .inner .icon {
    width: 80px;
    margin-bottom: 20px;
  }
  
  .container-skills .inner h3 {
    margin-bottom: 8px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    text-transform: capitalize;
  }
  
  .container-skills .inner p {
    color: #ffffff;
    font-size: 16px;
    line-height: 28px;
  }
  
  .container-skills .flip-card:hover .flip-card-front {
    transform: rotateY(-180deg);
  }
  
  .container-skills .flip-card:hover .flip-card-back {
    transform: rotateY(0deg);
  }













































/* .skills .content p {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #fff;
} */


/* .container-skills {
    width: 90%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.container-skills .card {
    position: relative;
    cursor: pointer;
    margin-right: 35px;
}

.container-skills .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container-skills .card .face1.face1 {
    position: relative;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container-skills .card:hover .face1.face1 {
    background-color: #ff0057;
    transform: translateY(0);
}

.container-skills .card .face1.face1 .content {
    opacity: 0.2;
    transition: 0.5s;
}

.container-skills .card:hover .face1.face1 .content {
    opacity: 1;
}

.container-skills .card .face1.face1 .content img {
    max-width: 100px;
}

.container-skills .card .face1.face1 .content h3 {
     margin: 10px 0 0;
     padding: 0;
     color: #fff;
     text-align: center;
     font-size: 1.5em;
}


.container-skills .card .face.face2 {
    position: relative;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}

.container-skills .card:hover .face.face2 {
    transform: translateY(0);
}


.container-skills .card .face.face2 .content p {
    margin: 0;
    padding: 0;
}


.container-skills .card .face.face2 .content a {
    margin: 25px 80px 0px;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container-skills .card .face.face2 .content a:hover {
    background-color: #333;
    color: #fff;
} */








/* .skills .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-top: 20px;
} */



/* .skills .content .col-left {
    position: relative;
    width: 46%;
}

.skills .content .col-right {
    position: relative;
    width: 46%;
}

.skills .content .col-right .bar {
    margin-bottom: 15px;
    padding: 10px;
}

.skills .content .col-right .bar .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.skills .content .col-right .bar .info span {
    font-size: 18px;
    font-weight: 500;
}

.skills .content .col-right .bar .line{
    position: relative;
    width: 100%;
    height: 15px;
    background: #ccc;
    border-radius: 2px;
}

.skills .content .col-right .bar .line:before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 2px;
}

.skills .content .col-right .bar .html:before {
    width: 95%;
    background: #e45126;
}

.skills .content .col-right .bar .css:before {
    width: 90%;
    background: #3422d6;
}

.skills .content .col-right .bar .javascript:before {
    width: 80%;
    background: #55cf1c;
}

.skills .content .col-right .bar .jquerry:before {
    width: 85%;
    background: #c6e70a;
}

.skills .content .col-right .bar .php:before {
    width: 75%;
    background: #e426e4;
}
 */





/***** SERVICES *****/


/* .services {
    background: url(img/piqsels.com-id-zzrpo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
} */

.services .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;
}

.title p {
    font-size: 1em;
    width: 80%;
    text-align: justify;
}


/* Skills Icons */
.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
   
}

.icons a {
    display: inline-flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 40px;
    margin: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    color: #262626;
    border-radius: 50%;

    background-size: 100% 200%;
    background-position: 0% 5%;
    background-color: #fff;

    transition: background-position 0.5s, color 0.5s;
    cursor: auto;
    transition: transform 1s;
    
   
}


.icons a:hover {
    background-position: 0% 100%;
    color: #6d2161;
    transform: scale(1.15);
    border-radius: 50%;
}











/***** WORK *****/

.work {
    background: #eee;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    /* text-transform: capitalize; */
    /* overflow-x: hidden; */
    /* padding: 100px 200px; */
    /* margin: 0 auto; */
    place-items: center;
    text-align: justify;
    font-size: 1em;
    width: 100%;


    background: url(img/piqsels.com-id-zblne.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.myprojects {
    margin: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   

}


.project {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
}


.myprojects .project .one-project {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
                inset -5px -5px 5px rgba(255,255,255,0.6),
                5px 5px 5px rgba(0,0,0,0.05),
                -5px -5px 5px rgba(255,255,255,0.6);
    border-radius: 15px;
    margin: 30px;
}


article {
    flex: 0 0 calc(25% - 25px);
    margin: 30px;
    box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.75);
    transition: 0.7s;
    background-color: #ebf5fc;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-radius: 15px;
}


.myprojects .project .one-project article:hover {
    transform: translateY(-30px);
    box-shadow: 0 10px 40px rgba(0,0,0,0.5);
    background: linear-gradient(45deg,#9e77b1,#cbcacf);

}


.imgbox img {
    width: 100%;
    display: block;
    border-radius: 15px 15px 0 0;
}

.img {
    overflow: hidden;
}


.text {
    padding: 0 25px;
}

.text  h3 {
    padding: 15px 0;
}

.text p {
    opacity: 0.8;
    padding: 10px 0 25px 0;
}

.buttons {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #944040;
    text-align: center;
    
}


.buttons a {
    background: #08c299;
    margin: 5px;
    width: 75px;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    text-decoration: none;
}

.myprojects .project .one-project article:hover .buttons a {
    background-color: #18c23d;

}

.project .one-project article:nth-child(even) {
    display: flex;
    flex-direction: column-reverse;
}



/********* media queries *********/

/* @media screen and (max-width: 1200px) {
    article{
        flex: 0 0 calc(50% - 30px);
    }
}

@media screen and (max-width: 768px) {
    article{
        flex: 0 0 100%;
    }

    .project article:nth-child(even) {
        flex-direction: column;
    }
} */





































































/* 
.myprojects {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.work .myprojects .project {
    text-align: center;
    padding: 3rem 2rem;
    margin-top: 60px;
    background: #fff;
    box-shadow: 0 .5rem 1rem (rgba(0,0,0,0.1));
    outline: 0.1rem solid #ccc;
    outline-offset: -0.7rem;
    cursor: pointer;
}

.work .myprojects .project:hover {
    outline: 0.01rem solid #222;
    outline-offset: 0;
    transition: .5s;
}


.work .myprojects .project img {
    height: 10rem
}

.work .myprojects .project img:hover {
    transform: scale(0.9);
    transition: .5s;
}

.work .myprojects .project h3 {
    padding: 0.5rem 0;
    font-size: 20px;
    color: #444;
}

.work .myprojects .project h3:hover {
    color: #ce2348;
}

.work .myprojects .project p {
    font-size: 12px;
    color: #444;
}

/**** PROJECT PREVIEW ****/

.project-preview {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.8);
    display: none;
    align-items: center;
    justify-content: center;
}

.project-preview .preview {
    display: none;
    padding: 2rem;
    text-align: center;
    background: #fff;
    position: relative;
    margin: 2rem;
    width: 40rem;
    align-items: center;
    justify-content: center;
}


.project-preview .preview.active {
    display: inline-block;
}

.project-preview .preview img {
    height: 10rem;
}

.project-preview .preview .fa-times {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
    color: rgb(133, 41, 41);
    font-size: 4rem;
}

.project-preview .preview .fa-times:hover {
    color: #1823c2;
    transform: rotate(90deg);
}

.project-preview .preview h3 {
    color: #444;
    padding: .5rem 0;
    font-size: 2rem;
}


.project-preview .preview p {
    line-height: 1.5;
    padding: 1rem 0;
    font-size: 1rem;
    color: #777;
}


.project-preview .preview .buttons {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.project-preview .preview .buttons a {
    flex: 1 1 16rem;
    padding: 1rem;
    font-size: 1.1rem;
    color: #444;
    border: 0.1rem solid #444;
}

.project-preview .preview .buttons a.first {
    background: #444;
    color: #fff;
}

.project-preview .preview .buttons a.first:hover {
    background: #111;
}

.project-preview .preview .buttons a.second:hover {
    background: #444;
    color: #fff;
} 
 */


























/*old*/

/* .work {
    background: linear-gradient(#a15757, rgb(211, 147, 28));
}

.work p {
    color: rgb(0, 0, 0);
}



.projects {
    background: #9c9e9c;
    width: 100%;
    margin: 10% auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.project-column {
    flex-basis: 25%;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.project-column img {
    width: 100%;
    cursor: pointer;
    transition: 1s;
    transform: scale(1.1)
    
}

.project-column p {
    margin: 20px 0;
}

.project-link i {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #000;
    margin: 0 7px;
    cursor: pointer;
    transition: transform 0.5s;
}

.project-link i:hover{
    background: #000;
    color: #9c9e9c;
    transform: translateX(7px)
}

.project-column:hover img {
    transform: scale(1.5);
}
.project-column span {
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 15px solid #9c9e9c;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 2;
}

.project-column .arrow {
    right: unset;
    left: 0;
    border-left: 15px solid #9c9e9c;
    border-right: 15px solid transparent;
} */



/* .work .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20PX;
}

.work .content .card {
    width: 300px;
    margin: 15px;
}

.work .content .card .card-img {
    position: relative;
    width: 100%;
    height: 260px;
    overflow: hidden;
    border-radius: 10px;
}

.work .content .card .card-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.5 ease;
}

.work .content .card .card-img img:hover {
    transform: scale(1.2);
} */








/***** CONTACT *****/


.contact {
    background: rgb(180, 40, 40);
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    /* text-transform: capitalize; */
    /* overflow-x: hidden; */
    /* padding: 100px 200px; */
    /* margin: 0 auto; */
    place-items: center;
    text-align: justify;
    font-size: 1em;
    width: 100%;


    background: url(img/piqsels.com-id-zblne.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 100000;
}


.contact .contect {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;
}

.contact .content .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}






.contact-form {
    background: #fff;
    max-width: 600px;
    margin-top: 50px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    margin-bottom: 70px;
}

.contact-form h3 {
    color: #111;
    font-size: 1.6em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}

.contact-form .input-box {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contact-form .input-box input,
.contact-form .input-box  textarea {
    color: #111;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    font-weight: 400;
    outline: none;
    border: 1px solid #111;
    border-radius: 5px;
    resize: none;
} 

.contact-form .input-box .send-btn {
    color: #fff;
    background: #797678;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: 0.5 ease;
}

.contact-form .input-box .send-btn:hover {
    background: #4f1557;
}






/* Social Media Icons */
.social-media {
    display: flex;
    justify-content: center;
}

.social-media a {
    display: flex;
    background: #e3edf7;
    height: 75px;
    width: 75px;
    margin: 0 15px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15), -6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid rgba(0,0,0,0.0);
    transition: transform 0.5s;
}

.social-media a i {
    font-size: 35px;
    color: #777;
    transition: transform 0.5s;
}

 .social-media a:hover {
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2), inset -4px -4px 6px -1px rgba(255,255,255,0.7), -0.5px -0.5px 0px rgba(255,255,255,1), 0.5px 0.5px 0px rgba(0,0,0,0.15), 0px 12px 10px -10px rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.01);
    transform: translateY(2px);
}

.social-media a:hover i {
    transform: scale(0.90);
}


.social-media a:hover .fa-facebook {
    color: #3b5998;
}

.social-media a:hover .fa-instagram {
    color: #f14843;
}

.social-media a:hover .fa-linkedin {
    color: rgb(21, 18, 231);
}

.social-media a:hover .fa-github {
    color: rgb(0, 0, 0);
}

.social-media a:hover .fa-envelope {
    color: rgb(98, 9, 9);
}






/* THANKS.HTML*/
.thanks {
    width: 100%;
    height: 110vh;
    background: #262626;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    max-width: 300px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
}



.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}









/***** FOOTER *****/
.footer {
    background: #262626;
    color: #fff;
    text-align: center;
    padding: 25px;

}

.footer .footer-title {
    font-size: 20px;
    font-weight: 600;
}

.footer p {
    font-size: 16px;
    margin-top: 10px;
}

.footer p a {
    color: #1823c2;
    font-weight: 600;
    text-decoration: none;
}




/***** SCROLL TO TOP BUTTON *****/
.scrollToTop-btn {
    z-index: 999;
    position: fixed;
    background: #797678;
    color: #fff;
    width: 45px;
    height: 45px;
    right: 0;
    bottom: 10px;
    font-size: 22px;
    text-align: center;
    line-height: 45px;
    border-radius: 3px;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3 ease;
}


.scrollToTop-btn.active {
    right: 20px;
    opacity: 1;
    pointer-events: auto;
}

.scrollToTop-btn:hover {
    background-color: #4f1557;
}



/***** REVEAL ELEMENTS ON SCROLL *****/
.reveal {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1.5s ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}







/**** ABOUT.HTML ****/
.back-video {
    /* position: absolute; */
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }
}