@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;1,200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

#particles-js {
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: 90%;
    top: 50px;
    right: 0;
    bottom: 50px;
    left: 0;
    z-index: 100;

}

/* canvas {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 50px;
    right: 0;
    bottom: 50px;
    left: 0;
    z-index: 1000; 
} */


#preloader {
    background: #000 url(img/circle-loader-gif-2.gif) no-repeat center;
    background-size: 15%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}


/**** SCROLL BAR ****/


::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-track {
    background-color: #262626;
    box-shadow: -5px -5px 10px #0d0d0d inset,
                 5px 5px 10px #333 inset;

    /* background: linear-gradient(#5a165a, #6d2161); */
     background: linear-gradient(to left, #bdc3c7, #2c3e50);
}


::-webkit-scrollbar-thumb {
    border-radius:50px;
    background-color: #837878;
    
    border-radius: 50px;
     box-shadow: -5px -5px 10px #5c5454 inset,
                 5px 5px 10px rgb(197, 196, 196) inset;
}

::-webkit-scrollbar-thumb:hover {
    border-radius:50px;
    background-color: #ffffff;
    border-radius: 50px;
     box-shadow: -5px -5px 10px #5c5454 inset,
                 5px 5px 10px rgb(197, 196, 196) inset;
}

section {
    padding: 100px 200px;
}


/**** VIDEO BACKGROUND ****/
.vid-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    width: 100vw;
    height: auto;
    object-fit: cover;
    z-index: -50000;
}


@media only screen and (min-width:768px) {
    .vid-bg  {
        min-width: 100vw;
        min-height: 100%;
       
    }

}






/***** MAIN *****/


.main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    /* background: url(img/3r.jpg)no-repeat; */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

.main .content {
    max-width: 800px;
    z-index: 200;
}

.main .content h2 {
    color: #b22222;
    font-size: 2.6em;
    font-weight: 500;
}

.main .content h2 span {
    font-size: 2.8em;
    font-weight: 600;
}

.animated-text {
    position: relative;
    height: 70px;
    overflow: hidden;
}

.animated-text h3 {
    color: #f7f7f7;
    font-size: 3em;
    font-size: 700;
    line-height: 70px;
    letter-spacing: 1px;
}

.animated-text h3:nth-child(1) {
    animation: text-move 10s infinite;
}


@keyframes text-move {
    0% {
        margin-top: 0;
    }
    25% {
        margin-top: -70px;
    }
    50% {
        margin-top: -140px;
    }
    75% {
        margin-top: -70px;
    }
    100% {
        margin-top: 0;
    }
}


.btn {
    /* color: #fff;
    font-size: 1em;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 2px;
    margin-top: 30px;
    transition: 0.5s ease;
    padding: 15px 20px;
    border-radius: 11%;
    background: linear-gradient(#5a165a, #6d2161);
    border: 1px solid rgba(0,0,0,0.0); 
    cursor: pointer;
    transition: all 1s ease;
     */

     
     font-weight: bold;
     font-family: sans-serif;
     text-decoration: none;
   
     position: relative;
     color: transparent;
     background-image: repeating-linear-gradient(45deg, #f1f1f1 0px, #f1f1f1 144px, gray 144px, gray 288px, #bebebe 288px, #bebebe 432px);
     background-size: 250%;
     background-position: 0%;
     -webkit-background-clip: text;
     background-clip: text;
     -webkit-animation: stripeAnimation 3s linear infinite;
     animation: stripeAnimation 3s linear infinite;
     animation-play-state: running;
     -webkit-animation-play-state: paused;
     animation-play-state: paused;



     font-size: 1.25em;
     text-transform: uppercase;
     font-weight: 600;
     display: inline-block;
     padding: 10px 20px;
     text-transform: uppercase;
     text-decoration: none;
     letter-spacing: 1px;
     border-radius: 2px;
     margin-top: 30px;
     transition: 0.5s ease;
     padding: 10px 15px;
     border-radius: 10px;
    
     border: 2px solid rgb(255, 255, 254); 
     cursor: pointer;
     transition: all 1s ease;
  

                        
}

.btn:hover {
    transform: scale(1.09);
    -webkit-animation-play-state: running;
    animation-play-state: running;



}




@keyframes stripeAnimation {
    100% {
      background-position: 165%;
    }
  }



























/***** HEADER *****/
header {
    position: relative;
    z-index: 999;
    position: fixed;
    background: #262626;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5x ease;
    text-transform: uppercase;
    font-weight: normal;
    box-shadow: -5px -5px 10px #0d0d0d inset,
                 5px 5px 10px #333 inset;

    
}


/* JS for navigation bar */
header.sticky {
    background: #962803;
    padding: 10px 200px;
    z-index: 90000000000;
}


header .brand img {
    /* color: rgb(253, 249, 249);
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none; */

    height: 21px;
    align-items: center;
    
    
}






header .navigation {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;


    right: 133px;
    height: 42px;
    width: 47%;
                                                                                                                                                                                                                                                                
    background-color: #262626;
    border-radius: 50px;
    /* box-shadow: 5px 5px 5px #0d0d0d inset,
                -5px -5px 5px #333 inset; */
}


header .navigation a {
    color: rgb(255, 246, 246);
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    margin-left: 30px;


    position: relative;
    float: left;
    margin: 2px;
    height: 40px;
    width: 110px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-family: arial;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.2s;

    /* box-shadow: 5px 5px 10px #0d0d0d inset,
                -5px -5px 10px #333 inset;

    box-shadow: -5px -5px 10px #0d0d0d inset,
                 5px 5px 10px #333 inset; */


    
}

header .navigation a:hover {

    color: rgb(242, 35, 12) ;
    /* background-color: #3f133f;
    box-shadow: -5px -5px 10px #6d276d inset,
                 5px 5px 10px rgb(136, 26, 121) inset; */
                
}

/* JS for navigation bar */
header.sticky .navigation a:hover {
    color: rgb(242, 35, 12) ;
    /* background-color: #3f133f;
    box-shadow: -5px -5px 10px #6d276d inset,
                 5px 5px 10px rgb(136, 26, 121) inset; */
                
}

body {
    min-height: 110vh;
}



@keyframes up {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.nav-item:nth-child(odd) {
    animation: up 1s forwards;
}

.nav-item:nth-child(even) {
    animation: down 1s forwards;
}


@keyframes down {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}












/***** ABOUT *****/

.about {
    position: relative;
    z-index: 2000;
    background-color: #9A0E1C;
    
    /* background: linear-gradient(to left, #556270, #ff6b6b); */
	background-size: 400% 400%;
	width: 100%;
	animation: animate-background 10s ease infinite;
    
    
    
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.section-title {
    position: relative;
    color: #fff;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 60px;
    text-transform: uppercase;
    transition: 0.5s ease;
    
  
}


.section-title:hover {
    
    transform: scale(1.1);
}





.about .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.about .content .col-left {
    position: relative;
    width: 45%;
    
    
}

.about .content .col-right {
    position: relative;
    width: 50%;
}

.about .content .col-left .img-card {
    position: relative;
    width: 100%;
    min-height: 450px;
}

.about .content .col-left .img-card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border-radius: 40% 10% 29% 10% / 29% 10% 30% 10%;
   
}

.about .content .col-right .content-title {
    font-size: 1.8em;
    font-weight: 800;
    margin-bottom: 20px;
}

.about .content .col-right .paragraph-text {
    font-size: 1em;
    color: rgb(255, 255, 255);
    line-height: 25px;
    border-radius: 20px;
    padding: 20px;
    margin: 2px;
    text-align: justify;
    
}




/***** SKILLS *****/

.skills {
    position: relative;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0px;
    min-height: 100vh;
    background: url(img/piqsels.com-id-frhgm.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 65px;

    z-index: 1;
    background: linear-gradient(to left, #114357, #f29492);
	background-size: 400% 400%;
	width: 100%;
	animation: animate-background 10s ease infinite;
    
    
   

    
}

.skills .title h2 {
    margin-top: 150px;
    margin-bottom: 0;
}


.container-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    
}

.container-skills .flip-card {
    margin: 30px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    
    
  }
  
  .container-skills .flip-card-front,
  .container-skills .flip-card-back {
    width: 300px;
    min-height: 350px;
    height: auto;
    background-color: #3a2f2f;
    /* background-image: url("https://images.wallpaperscraft.com/image/single/cherry_ripe_wet_130316_800x600.jpg"); */
    background-size: cover;
    background-position: center;
    text-align: center;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    border-radius: 25px;
    
    
  }


  .container-skills .flip-card:nth-of-type(1) .flip-card-front {
    background-image: url(img/rl74683052_vintage_black_and_grey_background_mf.jpg);
   
    
    
  }

  .container-skills .flip-card:nth-of-type(1) .flip-card-back {
    background-image: url(img/kisspng-black-and-white-structure-pattern-ray-png-hd-5a77bc028c8536.2997712215177963545756.png);
      ;
   
  }
  
  
  .container-skills .flip-card:nth-of-type(2) .flip-card-front {
    background-image: url(img/grey-dark-vintage-background-texture-299176_1080x675.jpg);
  }

  .container-skills .flip-card:nth-of-type(2) .flip-card-back {
    background-image: url(img/kisspng-white-symmetry-structure-triangle-pattern-technology-sense-of-large-data-age-5aa325e715ec22.6901210215206415110898.png);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%    ;
  }

  
  .container-skills .flip-card:nth-of-type(3) .flip-card-front {
    background-image: url(img/107967-darkness-wood-atmosphere-web_design-web_page-1280x720.jpg);
  }

  .container-skills .flip-card:nth-of-type(3) .flip-card-back {
    background-image: url(img/texture1.jpg);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%    ;
  }

  
  .container-skills .flip-card-front {
    transform: rotateY(0deg);
  }
  
  .container-skills .flip-card-back {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
  }
  
  .container-skills .flip-card-front::after,
  .container-skills .flip-card-back::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    border-radius: 15px;
  }
  
  .container-skills .flip-card-front .inner,
  .container-skills .flip-card-back .inner {
    width: 100%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    z-index: 2;
  }
  
  .container-skills .inner .icon {
    width: 80px;
    margin-bottom: 20px;
  }
  
  .container-skills .inner h3 {
    margin-bottom: 8px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    text-transform: capitalize;
  }
  
  .container-skills .inner p {
    color: #ffffff;
    font-size: 16px;
    line-height: 28px;
  }
  
  .container-skills .flip-card:hover .flip-card-front {
    transform: rotateY(-180deg);
  }
  
  .container-skills .flip-card:hover .flip-card-back {
    transform: rotateY(0deg);
  }





.services .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;
}

.title p {
    font-size: 1em;
    width: 80%;
    text-align: justify;
}


/* Skills Icons */
.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
   
}

.icons a {
    display: inline-flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 40px;
    margin: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    color: #262626;
    border-radius: 50%;

    background-size: 100% 200%;
    background-position: 0% 5%;
    background-color: #fff;

    transition: background-position 0.5s, color 0.5s;
    cursor: auto;
    transition: transform 1s;
    
   
}


.icons a:hover {
    background-position: 0% 100%;
    color: #6d2161;
    transform: scale(1.15);
    border-radius: 50%;
}



















/***** WORK *****/

.work {
    position: relative;
    background: #eee;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    /* text-transform: capitalize; */
    /* overflow-x: hidden; */
    /* padding: 100px 200px; */
    /* margin: 0 auto; */
    place-items: center;
    text-align: justify;
    font-size: 1em;
    width: 100%;
    

    z-index: 1;
    background: linear-gradient(to right, #fc354c, #0abfbc);
	background-size: 400% 400%;
	width: 100%;
	animation: animate-background 10s ease infinite;


    /* background: url(img/piqsels.com-id-zblne.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
}


.myprojects {
    margin: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   

}


.project {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
}


.myprojects .project .one-project {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
                inset -5px -5px 5px rgba(255,255,255,0.6),
                5px 5px 5px rgba(0,0,0,0.05),
                -5px -5px 5px rgba(255,255,255,0.6);
    border-radius: 15px;
    margin: 30px;
}


article {
    flex: 0 0 calc(25% - 25px);
    margin: 30px;
    box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.75);
    transition: 0.7s;
    background-color: #ebf5fc;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-radius: 15px;
}


.myprojects .project .one-project article:hover {
    transform: translateY(-30px);
    box-shadow: 0 10px 40px rgba(0,0,0,0.5);
    background: linear-gradient(45deg,#9e77b1,#cbcacf);

}


.imgbox img {
    width: 100%;
    display: block;
    border-radius: 15px 15px 0 0;
}

.img {
    overflow: hidden;
}


.text {
    padding: 0 25px;
}

.text  h3 {
    padding: 15px 0;
}

.text p {
    opacity: 0.8;
    padding: 10px 0 25px 0;
}

.buttons {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #944040;
    text-align: center;
    
}


.buttons a {
    background: #08c299;
    margin: 5px;
    width: 75px;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    text-decoration: none;
}

.myprojects .project .one-project article:hover .buttons a {
    background-color: #18c23d;

}

.project .one-project article:nth-child(even) {
    display: flex;
    flex-direction: column-reverse;
}



/********* media queries *********/

/* @media screen and (max-width: 1200px) {
    article{
        flex: 0 0 calc(50% - 30px);
    }
}

@media screen and (max-width: 768px) {
    article{
        flex: 0 0 100%;
    }

    .project article:nth-child(even) {
        flex-direction: column;
    }
} */





































































/* 
.myprojects {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.work .myprojects .project {
    text-align: center;
    padding: 3rem 2rem;
    margin-top: 60px;
    background: #fff;
    box-shadow: 0 .5rem 1rem (rgba(0,0,0,0.1));
    outline: 0.1rem solid #ccc;
    outline-offset: -0.7rem;
    cursor: pointer;
}

.work .myprojects .project:hover {
    outline: 0.01rem solid #222;
    outline-offset: 0;
    transition: .5s;
}


.work .myprojects .project img {
    height: 10rem
}

.work .myprojects .project img:hover {
    transform: scale(0.9);
    transition: .5s;
}

.work .myprojects .project h3 {
    padding: 0.5rem 0;
    font-size: 20px;
    color: #444;
}

.work .myprojects .project h3:hover {
    color: #ce2348;
}

.work .myprojects .project p {
    font-size: 12px;
    color: #444;
}

/**** PROJECT PREVIEW ****/

.project-preview {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.8);
    display: none;
    align-items: center;
    justify-content: center;
}

.project-preview .preview {
    display: none;
    padding: 2rem;
    text-align: center;
    background: #fff;
    position: relative;
    margin: 2rem;
    width: 40rem;
    align-items: center;
    justify-content: center;
}


.project-preview .preview.active {
    display: inline-block;
}

.project-preview .preview img {
    height: 10rem;
}

.project-preview .preview .fa-times {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
    color: rgb(133, 41, 41);
    font-size: 4rem;
}

.project-preview .preview .fa-times:hover {
    color: #1823c2;
    transform: rotate(90deg);
}

.project-preview .preview h3 {
    color: #444;
    padding: .5rem 0;
    font-size: 2rem;
}


.project-preview .preview p {
    line-height: 1.5;
    padding: 1rem 0;
    font-size: 1rem;
    color: #777;
}


.project-preview .preview .buttons {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.project-preview .preview .buttons a {
    flex: 1 1 16rem;
    padding: 1rem;
    font-size: 1.1rem;
    color: #444;
    border: 0.1rem solid #444;
}

.project-preview .preview .buttons a.first {
    background: #444;
    color: #fff;
}

.project-preview .preview .buttons a.first:hover {
    background: #111;
}

.project-preview .preview .buttons a.second:hover {
    background: #444;
    color: #fff;
} 
 */


























/*old*/

/* .work {
    background: linear-gradient(#a15757, rgb(211, 147, 28));
}

.work p {
    color: rgb(0, 0, 0);
}



.projects {
    background: #9c9e9c;
    width: 100%;
    margin: 10% auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.project-column {
    flex-basis: 25%;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.project-column img {
    width: 100%;
    cursor: pointer;
    transition: 1s;
    transform: scale(1.1)
    
}

.project-column p {
    margin: 20px 0;
}

.project-link i {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #000;
    margin: 0 7px;
    cursor: pointer;
    transition: transform 0.5s;
}

.project-link i:hover{
    background: #000;
    color: #9c9e9c;
    transform: translateX(7px)
}

.project-column:hover img {
    transform: scale(1.5);
}
.project-column span {
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 15px solid #9c9e9c;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 2;
}

.project-column .arrow {
    right: unset;
    left: 0;
    border-left: 15px solid #9c9e9c;
    border-right: 15px solid transparent;
} */



/* .work .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20PX;
}

.work .content .card {
    width: 300px;
    margin: 15px;
}

.work .content .card .card-img {
    position: relative;
    width: 100%;
    height: 260px;
    overflow: hidden;
    border-radius: 10px;
}

.work .content .card .card-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.5 ease;
}

.work .content .card .card-img img:hover {
    transform: scale(1.2);
} */








/***** CONTACT *****/


.contact {
    position: relative;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    place-items: center;
    text-align: justify;
    font-size: 1em;
    width: 100%;
    color: #fff;

}

#contact {

    z-index: 1;
    background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
	background-size: 400% 400%;
	width: 100%;
	animation: animate-background 10s ease infinite;
}

.contact h2 {
    color: #fff;
}


.contact .contect {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;
}

.contact .content .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}


.contact-form {
    background: #fff;
    max-width: 600px;
    margin-top: 50px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    margin-bottom: 70px;
}

.contact-form h3 {
    color: #111;
    font-size: 1.6em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}

.contact-form .input-box {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contact-form .input-box input,
.contact-form .input-box  textarea {
    color: #111;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    font-weight: 400;
    outline: none;
    border: 1px solid #111;
    border-radius: 5px;
    resize: none;
} 

.contact-form .input-box .send-btn {
    color: #fff;
    background: #797678;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: 0.5 ease;
}

.contact-form .input-box .send-btn:hover {
    background: #4f1557;
}






/* Social Media Icons */
.social-media {
    display: flex;
    justify-content: center;
}

.social-media a {
    display: flex;
    background: #e3edf7;
    height: 75px;
    width: 75px;
    margin: 0 15px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15);
    border: 1px solid rgba(0,0,0,0.0);
    transition: transform 0.5s;
}

.social-media a i {
    font-size: 35px;
    color: #777;
    transition: transform 0.5s;
}

 .social-media a:hover {
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2), inset -4px -4px 6px -1px rgba(255,255,255,0.7), -0.5px -0.5px 0px rgba(255,255,255,1), 0.5px 0.5px 0px rgba(0,0,0,0.15), 0px 12px 10px -10px rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.01);
    transform: scale(0.94);
}

.social-media a:hover i {
    transform: scale(0.90);
}



.social-media a:hover .fa-linkedin {
    color: rgb(21, 18, 231);
}

.social-media a:hover .fa-github {
    color: rgb(0, 0, 0);
}

.social-media a:hover .fa-envelope {
    color: rgb(98, 9, 9);
}






/* THANKS.HTML*/
.thanks {
    width: 100%;
    height: 110vh;
    background: #262626;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    max-width: 300px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
}



.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}









/***** FOOTER *****/


.footer {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 0px;
}


.footer-text {
    font-size: 16px;
    margin-top: 10px;
    font-weight: 550;
    padding-bottom: 20px;
    color: #262626;
}



.wavy-footer {
    width: 100%;
    position: relative;
    text-align: center;
    z-index: 1;
    background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
	background-size: 400% 400%;
	width: 100%;
	animation: animate-background 10s ease infinite;
}


.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 100px;
}

.parallax > use {
    -webkit-animation: moveForever 25s cubic-bezier(.55, .5, .45, .5) infinite;
            animation: moveForever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax > use:nth-child(1) {
    -webkit-animation-delay: -2s;
            animation-delay: -2s;
    -webkit-animation-duration: 7s;
            animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    -webkit-animation-delay: -3s;
            animation-delay: -3s;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
}

.parallax > use:nth-child(3) {
    -webkit-animation-delay: -4s;
            animation-delay: -4s;
    -webkit-animation-duration: 13s;
            animation-duration: 13s;
}

.parallax > use:nth-child(4) {
    -webkit-animation-delay: -5s;
            animation-delay: -5s;
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
}

@-webkit-keyframes moveForever {
    0% {
        -webkit-transform: translate3d(-90px, 0, 0);
                transform: translate3d(-90px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(85px, 0, 0);
                transform: translate3d(85px, 0, 0);
    }
}

@keyframes moveForever {
    0% {
        -webkit-transform: translate3d(-90px, 0, 0);
                transform: translate3d(-90px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(85px, 0, 0);
                transform: translate3d(85px, 0, 0);
    }
}

@media (max-width : 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
}


















/***** SCROLL TO TOP BUTTON *****/
.scrollToTop-btn {
    z-index: 999;
    position: fixed;
    background: #797678;
    color: #fff;
    width: 45px;
    height: 45px;
    right: 0;
    bottom: 10px;
    font-size: 22px;
    text-align: center;
    line-height: 45px;
    border-radius: 3px;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3 ease;
}


.scrollToTop-btn.active {
    right: 20px;
    opacity: 1;
    pointer-events: auto;
}

.scrollToTop-btn:hover {
    background-color: #4f1557;
}



/***** REVEAL ELEMENTS ON SCROLL *****/
.reveal {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1.5s ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}













/*********** ABOUTME.HTML ***********/


/*** MAIN ****/

.aboutme-main {
    margin: 0;
    padding: 0;
    display: flex;
	justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}


.aboutme-main-header {
	z-index: 1;

    /* background: linear-gradient(to left, #833ab4, #fd1d1d, #fcb045), url(img/3r.jpg); */
	/* background-size: 400% 400%; */
	width: 100%;
	height: 100vh;
    /* animation: animate-background 10s ease infinite; */

    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/3r.jpg);



    position: relative;
    min-height: 100vh;
    /* background: url(img/3r.jpg)no-repeat; */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}


.aboutme-main-header h1 {
	text-align: center;
	color: #fff;
	font-size: 60px;
	margin-top: 15%;
	margin-bottom: 2px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}


.aboutme-main-header h2 {
	text-align: center;
	color: #fff;
	font-size: 30px;
	margin-top: 2%;
    margin-bottom: 10px;
	padding-bottom: 40px;
    font-weight: 700;
    letter-spacing: 1px;
}

.aboutme-main-header p {
	text-align: center;
	font-size: 18px;
	width: 35%;
	margin: auto;
	color: #ddd;
	line-height: 1.7;
}

@keyframes animate-background {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}




/*** TEXT ****/

.aboutme-text-section {
     /* background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/mesh\ \(1\).png); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* border: 11px solid #b2bec7; */
    padding: 100px;
    margin: 20px auto;

    margin: 0;
    padding: 0;
    display: flex;
	justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;


    background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
	background-size: 400% 400%;
	width: 100%;
	animation: animate-background 10s ease infinite;
   
}

.aboutme-text {
    width: 80%;
    margin: 20px;
    padding: 40px;
    z-index: 500;
}



.aboutme-text p {
    border-left: 5px solid #2370a5;
    padding-left: 5px;
    color: rgb(255, 253, 253);
}

.aboutme-text h2 {
    font-size: 2rem;
    color: rgb(252, 252, 252);
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
}

.aboutme-text p {
    color: rgb(255, 255, 255);
    font-weight: 400;
    text-align: justify;
}
















/**** ANIMATED CIRCLES ****/
/* .circles {
	/* background: linear-gradient(to bottom, #f12711, #f5af19); */
	width: auto;
	height: auto;
} */

.box-circles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box-circles li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate-circles 20s linear infinite;
	bottom: -150px;
	border-radius: 50%;
}
.box-circles li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box-circles li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box-circles li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-circles li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-circles li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.box-circles li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
@keyframes animate-circles {
	0% {
		transform: translateY(0) scale(0);
	}
	100% {
		transform: translateY(-800px) scale(2);
		opacity: 0;
	}
}



/*SHAPEDIVIDERS.COM*/
/****www.shapedivider.app****/
/***#9A0E1C***/





.custom-shape-divider-bottom-1649595305 {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 200;
}

.custom-shape-divider-bottom-1649595305 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 78px;
}



















.custom-shape-divider-bottom-1649613794 {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 500;
}

.custom-shape-divider-bottom-1649613794 svg {
    position: relative;
    display: block;
    width: calc(255% + 1.3px);
    height: 133px;
}

.custom-shape-divider-bottom-1649613794 .shape-fill {
    fill: #9A0E1C;
}











.custom-shape-divider-bottom-1649595305 .shape-fill {
    fill: #9A0E1C;
}







.custom-shape-divider-top-1649595628 {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1649595628 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 122px;
}

.custom-shape-divider-top-1649595628 .shape-fill {
    fill: #9A0E1C;
}

































.shapedividers_com-9279{
    margin: 0 auto;
    width: 100%;
    position:relative;
    }
    .shapedividers_com-9279::before{
    content:'';
    font-family:'shape divider from ShapeDividers.com';
    position: absolute;
    width: 100%;
    margin: 0 auto;
    z-index: 100;
    pointer-events: none;
    background-repeat: no-repeat; 
    background-size: 100% 90px;
    background-position: 50% 0%;    
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23fbd8c2"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23fbd8c2"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23fbd8c2"/></svg>'); 
    }
    
    @media (min-width:768px){
    .shapedividers_com-9279::before{
    background-size: 100% 90px;
    background-position: 50% 0%;   
    }  
    }
     
    @media (min-width:1025px){
    .shapedividers_com-9279::before{ 
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw; 
    background-size: 100% 100px;
    background-position: 50% 0%;  
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%239a0e1c"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%239a0e1c"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%239a0e1c"/></svg>'); 
    }
    }
    @media (min-width:2100px){
    .shapedividers_com-9279::before{
    background-size: 100% calc(2vw + 100px);
    }
    }
     
  



    .shapedividers_com-8687{
        overflow:hidden;
        position:relative;
        width: 100%;
        }
        .shapedividers_com-8687::before{
        content:'';
        font-family:'shape divider from ShapeDividers.com';
        position: absolute;
        bottom: -1px;
        left: -1px;
        right: -1px;
        top: -1px;
        z-index: 3;
        pointer-events: none;
        background-repeat: no-repeat; 
        background-size: 100% 90px;
        background-position: 50% 0%;    
        background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23fbd8c2"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23fbd8c2"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23fbd8c2"/></svg>'); 
        }
        
        @media (min-width:768px){
        .shapedividers_com-8687::before{
        background-size: 100% 90px;
        background-position: 50% 0%;   
        }  
        }
         
        @media (min-width:1025px){
        .shapedividers_com-8687::before{ 
        bottom: -0.1vw;
        left: -0.1vw;
        right: -0.1vw;
        top: -0.1vw; 
        background-size: 100% 64px;
        background-position: 50% 0%;  
        background-image: url('data:image/svg+xml;charset=utf8, <svg preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000.4 84.2"><g fill="%239a0e1c"><circle cx="666" cy="43.7" r="14"/><circle cx="132.7" cy="44.1" r="14"/><path d="M253 54l-7 12 7 11h12l7-11-7-12h-12zM372 61l-3 6 3 7h8l4-7-4-6h-8zM22 67l-4 7 4 8h9l4-8-4-7h-9zM588 61l-6 10 6 9h11l6-9-6-10h-11zM1217 33a9 9 0 109 8 9 9 0 00-9-8zM840 58l-6 12 6 11h13l6-11-6-12h-13zM960 65l-4 7 4 6h7l4-6-4-7h-7zM1175 65l-5 10 5 9h12l5-9-5-10h-12zM1303 68l-4 7 4 6h7l4-6-4-7h-7z"/><path d="M1918 0H0v49c10 8 26 12 40 10a32 32 0 0011 3c13 1 15-1 18-1 18-5 25-20 39-32 8-7 16-15 27-16 13-1 24 9 31 20s11 24 20 33 25 15 35 7c11-9 9-29 22-37a15 15 0 012-1c6-2 13-1 18 1a58 58 0 019 5l10 6a93 93 0 0045 14c7 0 14 0 19-5a12 12 0 004-11c0-4-3-7-5-11a11 11 0 01-1-9 17 17 0 0115-12c13-1 24 9 31 20s11 24 20 33 25 15 35 7c11-9 10-28 21-36a16 16 0 011-1c6-3 14-2 21 0a50 50 0 015 3l13 8a93 93 0 0045 14c5 0 11 0 16-3 4-2 7-6 8-11a35 35 0 006 0 44 44 0 0013-5c19-10 20-16 35-22 13-6 27-5 41-5s28-1 40 5c16 6 17 12 35 22a44 44 0 0013 5 35 35 0 007 0c0 5 3 9 8 11 5 3 10 3 16 3a93 93 0 0045-14l12-8a50 50 0 016-3c6-2 14-3 20 0a16 16 0 012 1c11 8 10 27 21 36 10 8 26 3 34-7s14-22 21-33 17-21 30-20h1a17 17 0 0115 12 11 11 0 01-1 9c-2 4-5 7-6 11a12 12 0 004 11c6 5 13 5 20 5a93 93 0 0045-14l10-6a58 58 0 018-5c6-2 13-3 19-1a15 15 0 011 1c13 8 11 28 23 37 10 8 26 3 35-7s13-22 20-33 17-21 30-20a24 24 0 015 1c8 2 16 9 23 15 14 12 21 27 38 32l4 1 4-1c18-5 24-20 38-32 7-6 15-13 24-15a24 24 0 014-1c13-1 24 9 30 20s12 24 21 33 24 15 34 7c12-9 10-29 23-37a15 15 0 011-1c6-2 13-1 19 1a58 58 0 018 5l10 6a93 93 0 0045 14c7 0 14 0 20-5a12 12 0 004-11c-1-4-4-7-6-11a11 11 0 01-1-9 17 17 0 0115-12h1c13-1 24 9 31 20s11 24 20 33 24 15 34 7c11-9 10-28 21-36a16 16 0 012-1c6-3 14-2 20 0a50 50 0 016 3l12 8a93 93 0 0046 14c5 0 11 0 15-3 5-2 8-6 8-11a35 35 0 007 0 44 44 0 0013-5c18-10 19-16 35-22 12-6 26-5 40-5s28-1 41 5c15 6 16 12 35 22a44 44 0 0013 5 35 35 0 006 0c1 5 4 9 8 11 5 3 11 3 16 3h3V0z"/><circle cx="1874.5" cy="43.7" r="14"/><circle cx="1341.3" cy="44.1" r="14"/><path d="M1461 54l-6 12 6 11h13l6-11-6-12h-13zM1958 63l-4 8 5 8h10l4-9-5-8-10 1zM1231 67l-5 7 5 8h8l5-8-5-7h-8zM1074 54l-5 8 5 8h9l4-8-4-8h-9zM1796 61l-5 10 5 9h12l5-9-5-10h-12z"/></g></svg>'); 
        }
        }
        @media (min-width:2100px){
        .shapedividers_com-8687::before{
        background-size: 100% calc(2vw + 64px);
        }
        }
         
         

































     
     




/**** WATER WAVE DIVIDER ****/


.svg1 {
    z-index: 1000000;
    position: absolute;
    width: 100%;
    left: 0;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    transform-origin: bottom;
    bottom: 0;
    animation: animateWave 3s infinite;

}


.svg2 {
    z-index: 10000000000;
    position: absolute;
    min-width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    transform-origin: top;
    bottom: 0px;
    

    animation: animateWave 3s infinite;

}


@keyframes animateWave {
    0% {
        transform: scale(1,0.1);
    }
    100% {
        transform: scale(1,1);
    }
}



/**** VLNA ****/

.wave {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background: url(img/water_wave.jpg);
    background-size: 2500px 100px;
    overflow-x: hidden;
}

.wave.wave-1 {
    animation: animate-A 5s linear infinite;
    opacity: 1;
    z-index: 1000;
    animation-delay: 0s;
    bottom: 0;
}

.wave.wave-2 {
    animation: animate-B 15s linear infinite;
    opacity: .5;
    z-index: 999;
    animation-delay: -5s;
    bottom: 10px;
}

.wave.wave-3 {
    animation: animate-A 20s linear infinite;
    opacity: .7;
    z-index: 998;
    animation-delay: -17s;
    bottom: 15px;
}

.wave.wave-4 {
    animation: animate-B 25s linear infinite;
    opacity: .3;
    z-index: 997;
    animation-delay: -13s;
    bottom: 20px;
}

@keyframes animate-A {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}

@keyframes animate-B {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}











